/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
}

#sobre{
    text-align: center;
}

#portfolio ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 800px;
    margin: 0 auto; /* Centralizar o conteúdo horizontalmente */
    padding: 20px; /* Adicionar algum espaçamento interno */
    background-color: #f9f9f9;
}

#content {
    max-width: 800px;
    margin: 0 auto; /* Centralizar o conteúdo horizontalmente */
    padding: 20px; /* Adicionar algum espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo opcional */
}

#contato{
    text-align: center;
    margin-bottom: 100px;
    
}

#portfolio{
    text-align: center;
}

.contato-item img {
    max-width: 60px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .whatsapp-button img {
    width: 60px; /* Altere conforme necessário */
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }


